@if (Status is not null)
{
    <div class="clock-time" style="font-size: @TimeFontSize;">
        <div class="@Status.StatusClass()">@Status.Time</div>
    </div>
}


@code {
    [Parameter] public ClockStatus? Status { get; set; }
    [Parameter] public Registration? Registration { get; set; }

    private string TimeFontSize => Status.TimeFontSize(Registration);
}
