@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: "Impact";
    src: url('/fonts/impact.ttf');
}

@font-face {
    font-family: "Gods";
    src: url('/fonts/gods41.ttf')
}

html, body, app {
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    body::-webkit-scrollbar {
        display: none;
    }

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 1vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(1vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.loading {
    margin: 0px 20px 0px 20px;
    font-size: 16pt;
}

    .loading h1 {
        font-size: 24pt;
        font-weight: bold;
    }

    .loading h2 {
        font-size: 20pt;
        font-weight: bold;
    }

button {
    margin: 1px 3px 1px 3px;
    padding-right: 1em;
}

.light {
    --light-background-color: white;
    --light-foreground-color: black;
    --light-background-color-disabled: lightgray;
    --light-foreground-color-disabled: #006600;
    --light-background-color-focus: #c6ecc6;
    background-color: white;
    color: black;
}

    .light hr {
        color: olive;
    }

    .light input {
        background-color: var(--light-background-color);
        color: var(--light-foreground-color);
    }

        .light input:focus {
            background-color: var(--light-background-color-focus);
            color: var(--light-foreground-color);
        }

        .light input:disabled {
            background-color: var(--light-background-color-disabled);
            color: var(--light-foreground-color-disabled);
        }

    .light select {
        -webkit-appearance: none;
        background-color: var(--light-background-color);
        color: var(--light-foreground-color);
    }

        .light select:focus {
            background-color: var(--light-background-color-focus);
            color: var(--light-foreground-color);
        }

        .light select:disabled {
            background-color: var(--light-background-color-disabled);
            color: var(--light-foreground-color-disabled);
        }

    .light option {
        background-color: olive;
        color: var(--light-foreground-color);
    }


    .light textarea {
        background-color: var(--light-background-color);
        color: var(--light-foreground-color);
    }

        .light textarea:focus {
            background-color: var(--light-background-color-focus);
            color: var(--light-foreground-color);
        }

        .light textarea:disabled {
            background-color: var(--light-background-color-disabled);
            color: var(--light-foreground-color-disabled);
        }


.dark {
    --dark-background-color: black;
    --dark-foreground-color: white;
    --dark-background-color-disabled: rgba(255,255,255,0.1);
    --dark-foreground-color-disabled: olive;
    --dark-background-color-focus: rgb(102, 102, 51);
    background-color: var(--dark-background-color);
    color: var(--dark-foreground-color);
}

    .dark input {
        outline: 1px solid var(--dark-foreground-color);
    }

    .dark select {
        outline: 1px solid var(--dark-foreground-color);
    }


    .dark hr {
        color: var(--dark-foreground-color);
    }

    .dark table {
        color: var(--dark-foreground-color);
    }

        .dark table thead {
            color: olive;
        }

    .dark td {
        color: var(--dark-foreground-color);
    }

    .dark input {
        background-color: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }

        .dark input:focus {
            background-color: var(--dark-background-color-focus);
            color: var(--dark-foreground-color);
        }

        .dark input:disabled {
            background-color: var(--dark-background-color-disabled);
            color: var(--dark-foreground-color-disabled);
        }

    .dark select {
        -webkit-appearance: none;
        background-color: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }

        .dark select:focus {
            -webkit-appearance: none;
            background-color: var(--dark-background-color-focus);
            color: var(--dark-foreground-color);
        }

        .dark select:disabled {
            -webkit-appearance: none;
            background-color: var(--dark-background-color-disabled);
            color: var(--dark-foreground-color-disabled);
        }

        .dark select option {
            background-color: var(--dark-background-color);
            color: var(--dark-foreground-color);
        }

            .dark select option:disabled {
                background-color: var(--dark-background-color-disabled);
                color: var(--dark-foreground-color-disabled);
            }

    .dark textarea {
        background-color: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }

        .dark textarea:focus {
            background-color: var(--dark-background-color-focus);
            color: var(--dark-foreground-color);
        }

        .dark textarea:disabled {
            background-color: var(--dark-background-color-disabled);
            color: var(--dark-foreground-color-disabled);
        }

h1 {
    font-size: 24pt;
    font-weight: bolder;
}

h2 {
    font-size: 18pt;
    font-weight: bolder;
}

h3 {
    font-size: 14pt;
    font-weight: bolder;
}


.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.clock-time {
    flex: 1;
    font-family: 'Gods', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 95%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

/*    .clock-time .fastclock {
        color: forestgreen;
    }
*/
    .clock-time .stopped {
        color: firebrick;
    }

    .clock-time .realtime {
        color: cornflowerblue;
    }

    .clock-time .unavailable {
        color: gray;
    }

    .clock-time .large {
    }

.digital-clock-light .fastclock {
    color: darkgreen;
}
.digital-clock-light .stopped {
    color: darkred;
}
.digital-clock-dark .fastclock {
    color: greenyellow;
}
.digital-clock-dark .stopped {
    color: red;
}

option {
    font-size: calc(12pt + 1vw);
}

.message-text {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: calc(2pt + 6vw);
    line-height: calc(2pt + 6vw);
    text-align: center;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.message-qr {
    height: calc(300px + 13vw);
    width: calc(300px + 13vw);
    text-align: center;
}

.day-text {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(36pt + 3vw);
    line-height: calc(40pt + 3vw);
    text-align: center
}

    .day-text .fastclock {
        color: green
    }

    .day-text .stopped {
        color: red
    }

    .day-text .realtime {
        color: cornflowerblue
    }

.speed-text {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(10pt + 1vw);
    color: darkgray;
    line-height: calc(12pt + 1vw);
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.other-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: calc(10pt + 1vw);
    color: black;
    line-height: calc(12pt + 1vw);
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 4000px) {

    .main .top-row {
        display: none;
    }
}

@media (min-width: 4000.02px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 350px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
