@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14pt
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

button {
    padding-right: 1em;
}

.light {
    --light-background-color: white;
    --light-foreground-color: black;
    --light-background-color-disabled: lightgray;
    --light-foreground-color-disabled: #006600;
    --light-background-color-focus: #c6ecc6;
    background-color: white;
    color: black;
}

    .light hr {
        color: olive;
    }

    .light input {
        background-color: var(--light-background-color);
        color: var(--light-foreground-color);
    }

        .light input:focus {
            background-color: var(--light-background-color-focus);
            color: var(--light-foreground-color);
        }

        .light input:disabled {
            background-color: var(--light-background-color-disabled);
            color: var(--light-foreground-color-disabled);
        }

    .light select {
        -webkit-appearance: none;
        background-color: var(--light-background-color);
        color: var(--light-foreground-color);
    }

        .light select:focus {
            background-color: var(--light-background-color-focus);
            color: var(--light-foreground-color);
        }

        .light select:disabled {
            background-color: var(--light-background-color-disabled);
            color: var(--light-foreground-color-disabled);
        }

    .light option {
        background-color: olive;
        color: var(--light-foreground-color);
    }


    .light textarea {
        background-color: var(--light-background-color);
        color: var(--light-foreground-color);
    }

        .light textarea:focus {
            background-color: var(--light-background-color-focus);
            color: var(--light-foreground-color);
        }

        .light textarea:disabled {
            background-color: var(--light-background-color-disabled);
            color: var(--light-foreground-color-disabled);
        }


.dark {
    --dark-background-color: black;
    --dark-foreground-color: white;
    --dark-background-color-disabled: rgba(255,255,255,0.1);
    --dark-foreground-color-disabled: olive;
    --dark-background-color-focus: rgb(102, 102, 51);
    background-color: var(--dark-background-color);
    color: var(--dark-foreground-color);
}

    .dark hr {
        color: var(--dark-foreground-color);
    }

    .dark table {
        color: var(--dark-foreground-color);
    }

        .dark table thead {
            color: olive;
        }

    .dark td {
        color: var(--dark-foreground-color);
    }

    .dark input {
        background-color: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }

        .dark input:focus {
            background-color: var(--dark-background-color-focus);
            color: var(--dark-foreground-color);
        }

        .dark input:disabled {
            background-color: var(--dark-background-color-disabled);
            color: var(--dark-foreground-color-disabled);
        }

    .dark select {
        -webkit-appearance: none;
        background-color: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }

        .dark select:focus {
            -webkit-appearance: none;
            background-color: var(--dark-background-color-focus);
            color: var(--dark-foreground-color);
        }

        .dark select:disabled {
            -webkit-appearance: none;
            background-color: var(--dark-background-color-disabled);
            color: var(--dark-foreground-color-disabled);
        }

        .dark select option {
            background-color: var(--dark-background-color);
            color: var(--dark-foreground-color);
        }

            .dark select option:disabled {
                background-color: var(--dark-background-color-disabled);
                color: var(--dark-foreground-color-disabled);
            }

    .dark textarea {
        background-color: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }

        .dark textarea:focus {
            background-color: var(--dark-background-color-focus);
            color: var(--dark-foreground-color);
        }

        .dark textarea:disabled {
            background-color: var(--dark-background-color-disabled);
            color: var(--dark-foreground-color-disabled);
        }

h1 {
    font-size: 24pt;
    font-weight: bolder;
}

h2 {
    font-size: 16pt;
    font-weight: bolder;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.clock-time {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 32vw;
    text-align: center;
    line-height: 26vw;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
}

    .clock-time .fastclock {
        color: green;
    }

    .clock-time .stopped {
        color: red;
    }

    .clock-time .realtime {
        color: blue;
    }

    .clock-time .unavailable {
        color: gray;
    }

.clock-stop option {
    font-size: 3vw;
}

.message-text {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 7vw;
    line-height: 7vw;
    text-align: center;
    padding-bottom: 1vw 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.day-text {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-size: 7vw;
    line-height: 7vw;
    text-align: center
}

    .day-text .fastclock {
        color: green
    }

    .day-text .stopped {
        color: red
    }

    .day-text .realtime {
        color: blue
    }

.speed-text {
    font-family: 'Impact', 'Gill Sans', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    color: darkgray;
    line-height: 5.5vw;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.other-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 4vw;
    color: black;
    line-height: 4vw;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(102, 102, 51) 0%, #888844 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: white;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: cornsilk;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 1767.98px) {

    .main .top-row {
        display: none;
    }
}

@media (min-width: 1768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 350px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
